.movies-list-container {
  margin-bottom: 3rem;
  width: 100%;

  .list-row {
    display: flex;

    .navigator {
      background: transparent;
      padding: 0 1rem;
      cursor: pointer;
      color: $white;
    }

    .movies-list {
      display: grid;
      grid-template-columns: repeat(12, 50%);
      grid-template-rows: 1fr 1fr;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
      padding: 0;
      margin: 0;

      @include Responsive(MD) {
        grid-template-columns: repeat(24, 25%);
        grid-template-rows: 1fr;
      }

      @include Responsive(XL) {
        display: flex;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .movie-container {
        @include bg-hoverable($bg, $black, $blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        padding: 1.5rem 0.5rem;
        flex: 1 0 calc(100% / 2);

        @include Responsive(MD) {
          flex: 1 0 calc(100% / 4);
        }

        @include Responsive(XL) {
          flex: 1 0 calc(100% / 6);
        }

        .title-container {
          flex: 1;
          display: flex;
          align-items: center;

          .movie-title {
            font-family: 'Segoe UI Emoji', sans-serif;
            margin-top: 1rem;
            letter-spacing: 0.5px;
          }
        }

        .movie-poster {
          width: 160px;
          height: 240px;
        }
      }
    }
  }
}
